.gradient-background {
  -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #2C3E50, #4CA1AF); /* Modern blue gradient */
}

.line-color {
  -fx-background-color: #BDC3C7; /* Light grey */
}

.container {
  -fx-background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
  -fx-background-radius: 15;
  -fx-padding: 20;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0, 0); /* Soft shadow */
}

.shadow {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.5, 0, 0); /* Stronger shadow */
}
/* Labels */
.label {
  -fx-text-fill: #2D2F33; /* Dark color for text */
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

/* Icons */
.icon {
  -fx-fill: #2D2F33; /* Dark color for icons */
}