.announcement-card {
    -fx-background-color: #444;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

.select-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.reserve-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.close-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.view-reservations-button {
    -fx-background-color: #4CAF50; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.view-reservations-button:hover {
    -fx-background-color: #45a049; /* Vert plus foncé au survol */
}

.view-relocations-button {
    -fx-background-color: #008CBA; /* Bleu */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.view-relocations-button:hover {
    -fx-background-color: #0077a3; /* Bleu plus foncé au survol */
}