/* Top Bar */
#topBar {
    -fx-background-color:   #2D2F33;
}

/* Close, Maximize, Minimize Buttons */
#closeBtn, #maxBtn, #restoreBtn, #menuBarBtn {
    -fx-background-color: transparent;
}

#closeBtn:hover {
    -fx-background-color: #FF0606;
}

#maxBtn:hover, #restoreBtn:hover, #menuBarBtn:hover {
    -fx-background-color: rgba(187, 184, 184, 0.35);
}

/* Navigation Panel */
#navPanel {
    -fx-background-color: #2D2F33; /* Dark Gray for a modern look */
    -fx-padding: 20px;
    -fx-pref-width: 250px;
    -fx-min-height: 100vh;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 12, 0, 4, 4);
}

/* User Greeting */
#Username {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Navigation Buttons */
.navButtons {
    -fx-background-color: #3A3D42; /* Soft dark tone */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 20;
    -fx-background-radius: 12px;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 4, 4);
    -fx-transition: all 0.3s ease-in-out;
}

.navButtons:hover {
    -fx-background-color: #4A4E54; /* Slightly lighter gray */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 12, 0, 4, 4);
    -fx-border-color: #FFC107;
}

/* Account Settings and Logout Buttons */
#logout {
    -fx-background-color: #E57373; /* Red */
    -fx-border-color: #E57373;
}
#logout:hover {
    -fx-background-color: #D32F2F; /* Darker Red */
    -fx-border-color: #D32F2F;
}

/* Content Pane */
#contentPane {
    -fx-background-color: #F5F7FA;
}

/* Sidebar Buttons */
#dashboard, #usersBtn, #enquiries, #stations, #bicycles, #rentals, #taxiRides, #taxiRequests {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

#dashboard:hover, #usersBtn:hover, #enquiries:hover, #stations:hover, #bicycles:hover, #rentals:hover, #taxiRides:hover, #taxiRequests:hover {
    -fx-background-color: rgba(187, 184, 184, 0.31);
}

/* Sidebar Icons */
#dashboard .graphic, #usersBtn .graphic, #enquiries .graphic, #stations .graphic, #bicycles .graphic, #rentals .graphic, #taxiRides .graphic, #taxiRequests .graphic {
    -fx-translate-x: -22.0;
}

/* Sidebar Separator */
#navPanel .separator {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-padding: 0 10px;
}

/* Sidebar User Circle */
#navPanel .circle {
    -fx-fill: #c0c0c0;
}